<header></header>
<p>


</p>
<div class="secondblock row">
    <div class="quarterblock col-md-3">
        <div class="whole">
            <div class="type">
                <p>APPLE</p>
            </div>
            <div class="plan">
                <div class="content">
                    <ul>
                        <li>&euro;<span style="font-size: 56"> 99</span></li>


                        <a href="fastvideo.html" class="btn-need-auth">
                            <img src="~/images/buynow.png" width="150" height="46" style="padding-top: 0px" alt="" />
                        </a>


                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
    <div class="quarterblock col-md-3">
        <div class="whole">
            <div class="type">
                <p>WINDOWS 7</p>
            </div>
            <div class="plan">
                <div class="content">
                    <ul>
                        <li>&euro;<span style="font-size: 56"> 99</span></li>


                        <a href="fastvideo.html" class="btn-need-auth">
                            <img src="~/images/buynow.png" width="150" height="46" style="padding-top: 0px" alt="" />
                        </a>


                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="quarterblock col-md-3">
        <div class="whole">
            <div class="type">
                <p>WINDOWS 8.1</p>
            </div>
            <div class="plan">
                <div class="content">
                    <ul>
                        <li>&euro;<span style="font-size: 56"> 99</span></li>


                        <a href="fastvideo.html" class="btn-need-auth">
                            <img src="~/images/buynow.png" width="150" height="46" style="padding-top: 0px" alt="" />
                        </a>


                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="quarterblock col-md-3">
        <div class="whole">
            <div class="type">
                <p>WINDOWS 10</p>
            </div>
            <div class="plan">
                <div class="content">
                    <ul>
                        <li>&euro;<span style="font-size: 56"> 99</span></li>


                        <a href="fastvideo.html" class="btn-need-auth">
                            <img src="~/images/buynow.png" width="150" height="46" style="padding-top: 0px" alt="" />
                        </a>


                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<p>


</p>
<body>


</body>