<div id="modal-sim-gallery-dialog" class="modal fade" role="dialog">
    <div class="modal-dialog" ng-controller="simCntrl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Simulation Gallery</h4>
            </div>
            <div class="modal-body" >
                <div class="list-group">
                    <div class="list-group-item border-all-black" ng-repeat="galleryItem in vm.GalleryItems track by $index">
                        <div class="row">
                            <div class="col-md-1">
                                <input type="checkbox" ng-model="galleryItem.IsEnabled" />
                            </div>
                            <div class="col-md-2">
                                <label>{{galleryItem.Name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="vm.GalleryItems.length == 0" ng-show="!vm.IsLoading">
                    You have no results
                </div>
                <div ng-show="vm.IsLoading">
                    <img src="~/Images/Loader.gif" class="img-responsive left30 top30" />
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="vm.Accept()" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
