<div class="social-icons">
    <p>Find us on:</p>
    <ul>
        <li class="facebook" style="background-color: transparent">
            <a href="http://www.facebook.com/engineeringanalysis/" target="_blank">Facebook</a>
        </li>

        <li class="twitter" style="background-color: transparent">
            <a href="http://www.twitter.com/fastfea/" target="_blank">Twitter</a>
        </li>
        <!--  

        <li class="googleplus" style="background-color: transparent">
            <a href="https://plus.google.com/" target="_blank">Google +r</a>
        </li>

        <li class="rss" style="background-color: transparent">
            <a href="#" target="_blank">RSS Feed</a>
        </li>-->

        <li class="youtube" style="background-color: transparent">
            <a href="http://www.youtube.com/fastengineeringanalysis.com/" target="_blank">YouTube</a>
        </li>

        <li class="skype" style="background-color: transparent">
            <a href="skype:michael.cornan?add">Skype</a>
        </li>
    </ul>
</div>
